/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

.wrapper {
  margin: 0 auto 100px;
  width: 80%;
  max-width: 1400px;
}
