<mat-card class="card" *ngIf="game">
  <div>
    <mat-card-header>
      <mat-card-title>
        {{game.name}}
      </mat-card-title>
      <mat-card-subtitle>
        Price: {{game.price}}$
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="game.picture || picturePlaceholder">
    <mat-card-content class="content-with-padding">
      <p>{{game.description}}</p>
    </mat-card-content>
  </div>

  <mat-card-actions class="content-with-padding actions">
    <ng-container *ngIf="game.addedToCurrentUser; else notAddedToUser">
      <button mat-raised-button (click)="copyToClipboard()">
        Share
      </button>
      <button mat-raised-button color="primary" (click)="download()">
        Download
      </button>
    </ng-container>
    <ng-template #notAddedToUser>
      <button mat-raised-button color="primary"
              [disabled]="addedToLibrary"
              (click)="addedToLibrary = true; addToLibrary()">
        Add to Library
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
