@use "sass:math";

$width: 300px;

.card {
  width: $width;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  img {
    height: math.div($width, 4) * 3;
    object-fit: cover;
  }
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0;
}

.description-maximized {
  min-height: fit-content;
}

.description-minimized {
  height: 300px;
  max-height: 300px;
  overflow: hidden;
}
