<mat-card *ngIf="friendRecord && friendRecord.friend">
  <p id="friend-username">{{friendRecord.friend.username}}</p>
  <ng-container [ngSwitch]="friendRecord.status">
    <p class="actions"
       *ngSwitchCase="'PENDING'">
      PENDING
    </p>
    <button mat-button color="warn"
            class="actions"
            (click)="removeFriend()"
            *ngSwitchCase="'ACCEPTED'">
      Remove friend
    </button>
    <button mat-raised-button color="primary"
            class="actions"
            (click)="addFriend()"
            *ngSwitchDefault>
      Add friend
    </button>
  </ng-container>
</mat-card>
